shared/img/decks/*
shared/.interno/*.json

.vscode

# Ignorar pastas e arquivos que estão em public e server, mas que já existem em shared, pois shared é uma junção de diretório em ambos.
public/img
server/img
public/.interno/
server/.interno/