shared/img/decks/*
shared/.interno/*.json

.vscode

server/*.txt
server/logs
server/salas.json

# Ignorar pastas e arquivos que estão em public e server, mas que já existem em shared, pois shared é uma junção de diretório em ambos.
public/img
server/img
public/.interno/
server/.interno/

# Ignorar pasta de debug, para correção em tempo real com dados já publicados (Um QA "perigoso", praticamente)
debug