body {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

form {
	background-color: #EEE;
	padding: 10px;
}
form > * {
	display: block;
	margin: 10px 0;
}

button {
	display: block;
}

#quantitativoCartas {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

#atributos.selecionar {
	animation: piscarBranco 1s infinite;
}
@keyframes piscarBranco {
	0% {
		background-color: #FFFF;
	}
	50% {
		background-color: #FFF8;
	}
	100% {
		background-color: #FFFF;
	}
}
#atributos.selecionar .selecionado {
	color: #FFF;
	background-color: #000;
	animation: bordaSelecionado 1s infinite;
	outline-width: 5px;
	outline-color: #FF0;
	outline-style: solid;
}
@keyframes bordaSelecionado {
	0% {
		outline-offset: 0px;
	}
	50% {
		outline-offset: 5px;
	}
	100% {
		outline-offset: 0px;
	}
}

.quantitativoCarta {
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px;
}
.ok {
	background-color: #4CAF5080;
	padding: 10px 20px;
}
.erro {
	background-color: #F4433680;
	padding: 10px 20px;
}

.Atributo {
	display: inline-block;
	width: 200px;
	margin: 5px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
}
.Atributo h3 {
	margin: 0;
	padding: 0;
	font-size: 1em;
}
.Atributo p {
	margin: 5px 0;
	padding: 0;
	text-align: justify;
	font-size: 0.75em;
}

.Carta {
	width: 300px;
	border: 1px solid black;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	overflow: hidden;
}

.Carta.classe1 {
	background-color: #2196F3;
}
.Carta.classe2 {
	background-color: #4CAF50;
}
.Carta.classe3 {
	background-color: #FF9800;
}
.Carta.classe4 {
	background-color: #F44336;
}
.Carta.especial {
	background-color: #EFC82D;
	background-image: linear-gradient(to right, #FFF8, #FFF0, #FFF8);
	background-size: 200% 100%;
	animation: cartaEspecial 1s infinite linear;
}
@keyframes cartaEspecial {
	0% {
		background-position-x: 0%;
	}
	100% {
		background-position-x: 200%;
	}
}

.Carta h1 {
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0px;
	padding: 5px 10px;
	background-color: inherit;
	border-left: 1px solid #FFF;
	border-bottom: 5px solid #FFF;
	border-bottom-left-radius: 20px;
	color: #FFF;
	z-index: 5;
}
.Carta h2 {
	margin: -10px;
	padding: 10px;
	padding-right: 4em;
	background-color: #0008;
	color: #FFF;
	font-size: min(100%, 1rem);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	height: 2rem;
	position: relative;
	z-index: 3;
}
.Carta h3 {
	color: #FFF;
	margin: 0;
	padding: 0;
	padding-right: 1em;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	position: absolute;
	z-index: 4;
	background-color: inherit;
	left: 0px;
}
.Carta img.fundo {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.1;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
}
.Carta img.imagem {
	width: 100%;
	margin: 10px 0px;
	height: 200px;
	object-fit: cover;
	position: relative;
	z-index: 1;
}
.Carta.especial .hiperCodice {
	background-color: #EFC82D;
	background-image: linear-gradient(to right, #FFFF, #FFF0, #FFFF);
	font-weight: bold;
	position: absolute;
	top: 50px;
	right: 0px;
	z-index: 6;
	padding: 0.5em;
	border-radius: 1em;
	transform: rotate(20deg);
	box-shadow: 0px 0px 10px #FFF;
	animation: hiperCodiceCarta 0.71s infinite ease-in-out;
	border: 1px solid #FFF;
}
@keyframes hiperCodiceCarta {
	0% {
		transform: rotate(15deg);
	}
	50% {
		transform: rotate(25deg);
	}
	100% {
		transform: rotate(15deg);
	}
}
.Carta p {
	margin: 10px 0;
	padding: 0;
	text-align: justify;
	font-size: 0.75em;
	position: relative;
	z-index: 1;
	color: #FFF;
}

.valoresCarta {
	width: 100%;
	border-collapse: collapse;
	background-color: #FFFD;
	position: relative;
	z-index: 1;
}
.valoresCarta > div {
	padding: 5px;
	display: flex;
	flex-wrap: wrap;
}
.valoresCarta > div:not(:last-child) {
	border-bottom: 1px solid #0004;
}
.valoresCarta > div div {
	flex-grow: 2;
}
.valoresCarta > div div:first-child {
	font-size: 0.75em;
	margin: 0;
	margin-bottom: -0.5rem;
	padding: 0;
}
.valoresCarta > div div:last-child {
	font-size: 1em;
	margin: 0;
	white-space: nowrap;
	font-weight: bold;
	text-align: right;
	padding: 0;
}